TestMatricula/Service References/MatriculaWS/SolicitudMatriculas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitudMatriculas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5763/SolicitudMatriculas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5763/SolicitudMatriculas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Errores" />
      <xsd:import schemaLocation="http://localhost:5763/SolicitudMatriculas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5763/SolicitudMatriculas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitudMatriculas_CrearSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_CrearSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_CrearSolicitud_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_ObtenerSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_ObtenerSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_ModificarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_ModificarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_EliminarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_EliminarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_ListarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudMatriculas_ListarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitudMatriculas">
    <wsdl:operation name="CrearSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudMatriculas/CrearSolicitud" message="tns:ISolicitudMatriculas_CrearSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudMatriculas/CrearSolicitudResponse" message="tns:ISolicitudMatriculas_CrearSolicitud_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISolicitudMatriculas/CrearSolicitudRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:ISolicitudMatriculas_CrearSolicitud_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudMatriculas/ObtenerSolicitud" message="tns:ISolicitudMatriculas_ObtenerSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudMatriculas/ObtenerSolicitudResponse" message="tns:ISolicitudMatriculas_ObtenerSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudMatriculas/ModificarSolicitud" message="tns:ISolicitudMatriculas_ModificarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudMatriculas/ModificarSolicitudResponse" message="tns:ISolicitudMatriculas_ModificarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudMatriculas/EliminarSolicitud" message="tns:ISolicitudMatriculas_EliminarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudMatriculas/EliminarSolicitudResponse" message="tns:ISolicitudMatriculas_EliminarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudMatriculas/ListarSolicitud" message="tns:ISolicitudMatriculas_ListarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudMatriculas/ListarSolicitudResponse" message="tns:ISolicitudMatriculas_ListarSolicitud_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitudMatriculas" type="tns:ISolicitudMatriculas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudMatriculas/CrearSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudMatriculas/ObtenerSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudMatriculas/ModificarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudMatriculas/EliminarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudMatriculas/ListarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitudMatriculas">
    <wsdl:port name="BasicHttpBinding_ISolicitudMatriculas" binding="tns:BasicHttpBinding_ISolicitudMatriculas">
      <soap:address location="http://localhost:5763/SolicitudMatriculas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>