TestMatricula/Service References/MatriculaWS/SolicitudMatriculas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5763/SolicitudMatriculas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" />
  <xs:element name="CrearSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" minOccurs="0" name="solicitud" nillable="true" type="q1:SolicitudMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" minOccurs="0" name="CrearSolicitudResult" nillable="true" type="q2:SolicitudMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" minOccurs="0" name="ObtenerSolicitudResult" nillable="true" type="q3:SolicitudMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" minOccurs="0" name="solicitud" nillable="true" type="q4:SolicitudMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" minOccurs="0" name="ModificarSolicitudResult" nillable="true" type="q5:SolicitudMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitud">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" minOccurs="0" name="ListarSolicitudResult" nillable="true" type="q6:ArrayOfSolicitudMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>