TestMatricula/Service References/MatriculaWS/SolicitudMatriculas3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioDeSolicitudesDePrematricula.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5763/SolicitudMatriculas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SolicitudMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidosAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNIPadreApoderado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailPadreApoderado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoSolicitud" type="ser:char" />
      <xs:element minOccurs="0" name="FechaHoraRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVisita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDSolicitud" type="xs:long" />
      <xs:element minOccurs="0" name="Nivel" type="ser:char" />
      <xs:element minOccurs="0" name="NombreAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePadreApoderado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grado" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudMatricula" nillable="true" type="tns:SolicitudMatricula" />
  <xs:complexType name="ArrayOfSolicitudMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudMatricula" nillable="true" type="tns:SolicitudMatricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudMatricula" nillable="true" type="tns:ArrayOfSolicitudMatricula" />
</xs:schema>